# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
/.vscode
/.idea
/.DS_Store

# macOS
*.DS_Store

# Node
npm-debug.log
yarn-error.log

# Composer
composer.lock

# Laravel Mix
public/mix-manifest.json
public/hot

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Others
*.log
*.swp
*.swo
*.lock
